.content {
  font-size: var(--sl-text-lg);
}

.content ul {
  list-style-type: square;
}

.content ul li::marker {
  font-size: var(--sl-text-3xl);
}

.content ul li.dots {
  list-style-type: "●";
}

.content ul li.dots::marker {
  font-size: var(--sl-text-2xl);
}

.content h3,
.content h4,
.content h5,
.content h6 {
  color: var(--sl-color-accent);
}

/* .content dl dt,
.content dl dd {
  margin-top: 0rem;
}

.content dl dt {
  float: left;
  clear: left;
}

dd {
  margin: 0 0 0 50px;
  padding: 0 0 0.5em 0;
} */

.content dl dt,
.content dl dd {
  margin-top: 0rem;
}

dl {
  display: grid;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}
