---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Search.astro";
---

<div id="landing-search">
  <Default {...Astro.props}><slot /></Default>
</div>
